html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu-font";
  src: url("../font/Ubuntu-Regular.ttf") format("truetype"),
    /* corrected format */ url("../font/Ubuntu-Light.ttf") format("truetype"),
    url("../font/Ubuntu-Medium.ttf") format("truetype"),
    url("../font/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster-font";
  src: url("../font/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$color_1: #1b262c;
$color_2: #0f4c75;
$color_3: #3282b8;
$color_4: #bbe1fa;
$color_5: #ffad00;

$font: "Ubuntu-font";
$font-brand: "Lobster-font";
html {
  margin: 0;
  padding: 0;
  height: 100%;
  //   overflow: hidden;
}

body {
  main {
    .dashboard {
      width: 100vw;
      height: 100vh;
      background-color: $color_1;
      .container {
        .sections {
          display: flex; /* Use flexbox layout */

          .left-section {
            background-color: $color_1;
            flex: 1;
            flex-basis: 13%;
            height: 100vh;

            // content ---------------------
            .container {
              .profile {
                .container {
                  .picture {
                    .image {
                      padding-top: 7vh;
                      display: flex;
                      margin: auto;
                      justify-content: center;
                      align-items: center;
                      img {
                        width: 45%;
                        padding: 5px;
                        background-color: #ffffff;
                        border-radius: 50%;
                      }
                    }
                  }

                  .name {
                    .text {
                      margin-top: 40px;
                      p {
                        text-align: center;

                        span {
                          background-color: #ffffff;
                          font-family: $font;
                          color: $color_1;

                          font-size: 25px;
                          padding: 5px;
                          border-radius: 5px;
                        }
                      }
                    }
                  }
                }
              }
              .options {
                margin-top: 40px;
                margin-left: 15px;
                background-color: $color_4;

                .top {
                  height: 40px;
                  border-bottom-right-radius: 25px;
                  background-color: $color_1;
                }

                .middle {
                  background-color: $color_1;
                  p {
                    background-color: $color_4;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    height: 60px;

                    a{
                        text-decoration: none;
                        span {
                            font-family: $font;
                            font-size: 20px;
                            color: $color_1;
                            img{
                                height: 20px;
                                margin-right: 10px;
                            }
                           
                        }
                        #active{
                            background-color: $color_3;
                            padding: 10px;
                            padding-left: 25px;
                            padding-right: 25px;
                            border-radius: 25px;
                        }
                    }
                  }
                }

                .bottom {
                  height: 40px;
                  border-top-right-radius: 25px;
                  background-color: $color_1;
                }
              }
              .actions{
                margin-top: 30vh;
                .container{
                    p{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        a{
                            text-decoration: none;

                            span{
                                font-family: $font;
                                font-size: 20px;
                                color:#ffffff;
                                img{
                                    height: 10px;
                                }
                            }
                        }
                    }
                }
              }
            }
          }
          .middle-section {
            background-color: $color_4;
            flex: 1;
            flex-basis: 57%;
            // height: 100vh;
            margin-top: 10px;
            margin-bottom: 10px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
          }
          .right-section {
            background-color: $color_4;
            flex: 1;
            flex-basis: 30%;
            // height: 100vh;

            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
          }
        }
      }
    }
  }
}
