html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu-font";
  src: url("../font/Ubuntu-Regular.ttf") format("truetype"),
    /* corrected format */ url("../font/Ubuntu-Light.ttf") format("truetype"),
    url("../font/Ubuntu-Medium.ttf") format("truetype"),
    url("../font/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster-font";
  src: url("../font/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$color_1: #1b262c;
$color_2: #0f4c75;
$color_3: #3282b8;
$color_4: #bbe1fa;
$color_5: #ffad00;

$font: "Ubuntu-font";
$font-brand: "Lobster-font";
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #3282b8 15%, #0f4c75 50%, #1b262c 95%);
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    nav {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 30px;
        padding: 10px;
        border-bottom: solid 2px $color_4;

        .left {
          display: flex;
          align-items: center;
          padding: 5px;

          .menu {
            background-color: $color_2;
            padding: 10px;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
              background-color: $color_1;
              transition: all 0.5s ease-in-out;
            }

            a {
              margin: 10px;
              font-family: $font;
              font-size: 20px;
              color: $color_4;
              text-decoration: none;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $color_5;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        .middle {
          display: flex;
          align-items: center;
          margin-left: -90px;
          .brand {
            font-family: $font-brand;
            font-size: 35px;
            color: white;
          }
        }
        .right {
          display: flex;
          align-items: center;
          .button {
            background-color: $color_2;
            padding: 10px;
            border-radius: 10px;
            transition: all 0.5s ease-in-out;

            &:hover {
              background-color: $color_1;
              transition: all 0.5s ease-in-out;
            }
            a {
              margin: 10px;
              font-family: $font;
              font-size: 20px;
              color: $color_4;
              text-decoration: none;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $color_5;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 10vh;
    text-align: center;
    justify-content: center;
    display: flex;
    .container {
      margin: 0;
      padding: 0;
      display: flex;
      .left-section {
        flex: 1; /* Take up 1 part of the flex container (adjust as needed) */
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          padding: 50px;
          font-size: 24px;
          color: white;
          font-family: $font;
          line-height: 1.7;
          text-align: justify;
        }
      }
      .right-section {
        flex: 1; /* Take up 1 part of the flex container (adjust as needed) */
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 700px;
        }
      }
      .about {
        margin-right: 15%;
        margin-left: 15%;
        background-color: #1b262c7d;
        border-radius: 25px;
        p {
          padding: 50px;
          font-size: 24px;
          color: white;
          font-family: $font;
          line-height: 1.7;
          text-align: justify;
        }
      }
      .login-container {
        background-color: $color_4;
        padding: 40px;
        border-radius: 25px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        font-family: $font;
        input {
          width: 100%;
          margin-bottom: 10px;
          margin-top: 40px;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 15px;
          font-family: $font;
          font-size: 15px;

        }
        button {
          margin-top: 40px;
          background-color: $color_2;
          font-family: $font;
          font-size: 17px;
          color: #fff;
          padding: 10px 15px;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover{
            transition: all 0.3s ease-in-out;
          background-color: $color_5;

          }
        }
        .forget{
          margin-top: 30px;
          font-family: $font;
          a{
            text-decoration: none;
            color: $color_2;
          }

        }
      }
    }
  }
  footer {
    margin-top: 2vh;
    .container {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        a {
          svg {
            width: 100px;
            height: 100px;
            background-color: $color_4;
            border-radius: 15px;
            transition: all 0.5s ease-in-out;
          }
        }
        &:hover {
          svg {
            background-color: $color_3;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
