html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu-font";
  src: url("../font/Ubuntu-Regular.ttf") format("truetype"), url("../font/Ubuntu-Light.ttf") format("truetype"), url("../font/Ubuntu-Medium.ttf") format("truetype"), url("../font/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lobster-font";
  src: url("../font/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #3282b8 15%, #0f4c75 50%, #1b262c 95%);
  height: 100%;
  display: flex;
  flex-direction: column;
}
body header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  padding: 10px;
  border-bottom: solid 2px #bbe1fa;
}
body header nav .container .left {
  display: flex;
  align-items: center;
  padding: 5px;
}
body header nav .container .left .menu {
  background-color: #0f4c75;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
body header nav .container .left .menu:hover {
  background-color: #1b262c;
  transition: all 0.5s ease-in-out;
}
body header nav .container .left .menu a {
  margin: 10px;
  font-family: "Ubuntu-font";
  font-size: 20px;
  color: #bbe1fa;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body header nav .container .left .menu a:hover {
  color: #ffad00;
  transition: all 0.3s ease-in-out;
}
body header nav .container .middle {
  display: flex;
  align-items: center;
  margin-left: -90px;
}
body header nav .container .middle .brand {
  font-family: "Lobster-font";
  font-size: 35px;
  color: white;
}
body header nav .container .right {
  display: flex;
  align-items: center;
}
body header nav .container .right .button {
  background-color: #0f4c75;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
body header nav .container .right .button:hover {
  background-color: #1b262c;
  transition: all 0.5s ease-in-out;
}
body header nav .container .right .button a {
  margin: 10px;
  font-family: "Ubuntu-font";
  font-size: 20px;
  color: #bbe1fa;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body header nav .container .right .button a:hover {
  color: #ffad00;
  transition: all 0.3s ease-in-out;
}
body main {
  margin-top: 10vh;
  text-align: center;
  justify-content: center;
  display: flex;
}
body main .container {
  margin: 0;
  padding: 0;
  display: flex;
}
body main .container .left-section {
  flex: 1; /* Take up 1 part of the flex container (adjust as needed) */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .container .left-section p {
  padding: 50px;
  font-size: 24px;
  color: white;
  font-family: "Ubuntu-font";
  line-height: 1.7;
  text-align: justify;
}
body main .container .right-section {
  flex: 1; /* Take up 1 part of the flex container (adjust as needed) */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .container .right-section img {
  width: 700px;
}
body main .container .about {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgba(27, 38, 44, 0.4901960784);
  border-radius: 25px;
}
body main .container .about p {
  padding: 50px;
  font-size: 24px;
  color: white;
  font-family: "Ubuntu-font";
  line-height: 1.7;
  text-align: justify;
}
body main .container .login-container {
  background-color: #bbe1fa;
  padding: 40px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  font-family: "Ubuntu-font";
}
body main .container .login-container input {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "Ubuntu-font";
  font-size: 15px;
}
body main .container .login-container button {
  margin-top: 40px;
  background-color: #0f4c75;
  font-family: "Ubuntu-font";
  font-size: 17px;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body main .container .login-container button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ffad00;
}
body main .container .login-container .forget {
  margin-top: 30px;
  font-family: "Ubuntu-font";
}
body main .container .login-container .forget a {
  text-decoration: none;
  color: #0f4c75;
}
body footer {
  margin-top: 2vh;
}
body footer .container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .container .icon a svg {
  width: 100px;
  height: 100px;
  background-color: #bbe1fa;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
body footer .container .icon:hover svg {
  background-color: #3282b8;
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=index.css.map */